---
const today = new Date();
---

<footer bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 dark:bg-gray-900>
    <div class="p-5 text-gray-900 dark:text-white dark:bg-gray-900">
        <p>
            &copy; {today.getFullYear()} CoderHN. Todos los derechos reservados.
        </p>
        <a
            href="mailto:info@coderhn.dev"
            class="text-cogvi-blue-dark font-bold hover:underline"
        >info@coderhn.dev
        </a>
    </div>

    <div class="p-5  text-gray-900 dark:text-white dark:bg-gray-900">
        <p>Powered by</p>
        <a
            href="https://www.coderhn.dev"
            class="text-cogvi-blue-dark font-bold hover:underline">CoderHN
        </a>
    </div>
</footer>
